.App {
  text-align: center;
}

.css-83ijpv-MuiTypography-root{
  padding-left:15px;
  text-align: left;
 }

 .addUser{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left:5%;
  margin-top:20vh;
}
