.App {
  text-align: center;
}

.css-83ijpv-MuiTypography-root{
  display: flex;
  text-align: start;
  padding-left: 3%;
 }
.homePage{
  margin-top: 15vh;
}
 .addUser,.addProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top:20vh;
}

.userTable{
  display: flex;
  margin-left:15%;
}

.addUser_header,.addProduct_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:15px;
}
/* .css-1fajery-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer ,.MuiDataGrid-cellContent{
  padding: 0px 20px;
  text-align: center;
  justify-content: center;
}

.MuiDataGrid-colCellTitle {
  display: block;
  text-align:center;
  width: 100%;
} */