.App {
  text-align: center;
}

.homePage{
  margin-top: 15vh;
}

/* User and Product forms */
 .addUser,.addProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top:20vh;
}

/* User Table  */
.userTable{
  display: flex;
  margin-left:15%;
}

/* Header for add user and add products forms */
.addUser_header,.addProduct_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:15px;
}
